@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300..900&display=swap');
@import "tailwindcss";

.head_font {
  font-family: "Phudu", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: "Paprika", system-ui;
    font-style: normal;
}